{% extends 'layout.html' %}

{% block meta %}
  {% parent %}
{% endblock %}

{% block css %}
  {% parent %}
  {% if nextDispense %}<link rel="stylesheet" href="/css/jquery.countdown.css">{% endif %}
{% endblock %}

{% block body %}
  <div class='row-fluid'>
    <div class="col-xs-3 leftcol">
      {% block left %}
        {% include "partials/_left.html" %}
      {% endblock %}
    </div>

    <div class="col-xs-9 col-md-6 midcol">
      <h1>{{ settings.site.name }}</h1>

      {% if success %}
        <div class="col-xs-12 alert alert-success" role="alert">
          <div>You've been awarded {{dispenseAmt}} SPEC!  (TXID: {{txid}})_</div></br>
          
          {% if settings.referralPct > 0 %}
            <div>Earn {{settings.referralPct}}% of anyone you refer: <a href="{{referralURL}}">http://{{referralURL}}</a></div></br>
          {% endif %}
        </div>

        {% if nextDispense %}
          <div class="col-xs-12">
            <div class="alert alert-info" role="alert">
              <h3>The faucet will be ready again in: </h3>
              <div id="countdown"></div>
            </div>
          </div>
        {% endif %}
      {% else %}
        {% if settings.payout.adblockPenalty %}
          <div id="adblockWarning" class='form-group' style="display:none">
            <div class="col-xs-12 alert alert-danger" role="alert">
              <h3>Ad Blocker Detected!</h3>
              <p><strong>We get it.</strong>  Ads can get annoying, but where do you think the coins for this faucet come from?  Sure we donate coins from our own pockets and occasionally may recieve a donation, but we simply <strong>can't afford</strong> to give away as <i>many</i> coins as we do without the help of our partners.</p><br />
              <p><strong>So here's the deal</strong>: If you want to block our ads that's <strong>fine</strong>, we will still dispense some coins for you to play with and help introduce you to the fantastic <strong>SPEC</strong> community, <strong>HOWEVER</strong> in an effort to keep the faucet on, we will decrease the amount of coins we award you by <strong>{{settings.payout.adblockPenalty}}%</strong></p><br />
              <p>If you want <strong>more coins</strong> then <strong>please consider disabling your ad-blocking software or adding us to your exception list</strong> and <a href="/">refreshing the page</a>.</p><br />
              <p>With your help we can take these reward levels <strong>To Da Moon!</string></p>
            </div>
            <input type='text' id="adblockdetection" name="adblockdetection" hidden value="1" />
          </div>
        {% endif %}

        <p>
          <h3>Free SPEC!</h3>
          <p>SPEC is the native house token of <a href="https://www.cryptowatcher.com/">CryptoWatcher.com</a> allowing trading enthusiasts to watch thee top 5 exchanges from one singular location.</p>
        </p>
        {% if nextDispense %}
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <h3>The faucet will be ready again in: </h3>
              <div id="countdown"></div>
            </div>
          </div>
        {% else %}
          <form id="faucet" action="/" method="POST" role="form" class="form-inline">
            <input type="hidden" name="_csrf" value="{{ csrftoken }}">
            {% if error %}
              <fieldset>
                  <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                      {{error}}
                    </div>
                  </div>
              </fieldset>
            {% endif %}

            <fieldset>
                <div class="form-group">
                    <label for="address" class="sr-only">Enter your SPECcoin address</label>
                    <input id="address" type="text" name="address" placeholder="SPECcoin address" class="form-control input-large" required="" tabindex="1" value="{{address}}"/>
                </div>
            </fieldset>

            <fieldset>
                <label for="recaptcha_area" class="sr-only">Please prove you are human</label>
                <div id="recaptcha_area" class="form-group">
                      {{recaptcha_form|raw}}
                </div>
            </fieldset>
            
            {% if settings.ads && settings.ads.anonymousAds && settings.ads.anonymousAds.slots && settings.ads.anonymousAds.slots[0] %}
            <div class="banner">
              <iframe data-aa='{{ settings.ads.anonymousAds.slots[0] }}' src='//ad.a-ads.com/{{ settings.ads.anonymousAds.slots[0] }}?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
            </div>
            {% endif %}

            <fieldset>
                <button type="submit" class="btn btn-primary btn-block">Collect SPEC</button>
            </fieldset>

            {% if settings.ads && settings.ads.anonymousAds && settings.ads.anonymousAds.slots && settings.ads.anonymousAds.slots[1] %}
            <div class="banner">
              <iframe data-aa='{{ settings.ads.anonymousAds.slots[1] }}' src='//ad.a-ads.com/{{ settings.ads.anonymousAds.slots[1] }}?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
            </div>
            {% endif %}
          </form>
        {% endif %}
      {% endif %}
    </div>
    
    <div class="col-xs-12 col-md-3 rightcol">
      {% block right %}
        {% include "partials/_right.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block script %}
  {% parent %}
  {% if settings.payout.adblockPenalty %}
    <script src="/js/advertisement.js"></script>
    <script>
      $(function() {
        $('#adblockdetection').val($('#tester').length);
        if ($('#tester').length == 0) $('#adblockWarning').show();
      });
    </script>
  {% endif %}

  {% if nextDispense %}
    <script src="/js/jquery.plugin.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script>
      $(function() {
        $('#countdown').countdown({until: new Date('{{nextDispense|date('r')}}'), expiryUrl: '/',
          format: 'yowdhms'}); 
      });
    </script>
  {% endif %}
{% endblock %}