#recaptcha_area {
  margin: 0 auto;
}
/* Ad Block Buster */
#tester {
  display: none;
}


.midcol {
	text-align:center;
}
.midcol p {
	color:#999999;
	text-align:left;
	padding:6px 6px 10px 6px;
}

#txtAddress {
	margin-right:10px;
	min-width:350px;
}
#captcha {
	display:block!important;
	padding-top:8px;
}
#captcha label {
	padding-right:4px;
	color:#999999;
}

.payouts h4 {
	color:#3498db;
}
.payouts .interval {
	color:#f39c12;
}
.payouts ul {
	list-style-type: none;
	padding-left:4px;
}
